@import "../../../styles/palette.scss";

.carousel {
  &-container {
    display: flex;
    align-items: center;
    position: relative;
  }

  &-window {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-top: 72px;
  }

  &-all-slides {
    height: 100%;
    display: flex;
    transition: 1.6s cubic-bezier(0.33, 0.11, 0.5, 1.03);
  }
}

.slide {
  background: no-repeat center center fixed;
  background-size: cover;
  box-shadow: inset 0px -150px 50px -75px $darkColor;

  &_body {
    display: flex;
    margin: 83px 0;
    justify-content: space-around;
    align-items: center;

    position: relative;
    z-index: 1;

    &-circle {
      position: absolute;
      z-index: -1;

      svg {
        width: 632px;
        height: 632px;
      }

      img {
        width: 281px;
        height: 281px;
        position: absolute;
        
      }
    }

    &-text {
      text-transform: uppercase;
      margin-top: 115px;

      &_firstMt {
        margin-top: -180px;
      }

      h2 {
        font-size: 200px;
        font-weight: 800;

        span {
          margin-left: 0.7em;
        }
      }

      h4 {
        font-size: 40px;
        color: $darkColor;
        text-align: right;
        margin-right: 10px;
      }
    }
  }

  &:nth-child(1) {
    background-image: url("../../../assets/slides/slide-1.png");
  }

  &:nth-child(2) {
    background-image: url("../../../assets/slides/slide-2.png");
  }
}

.arrow {
  width: 75px;
  height: 75px;
  background: $mainTextColor;
  border-radius: 50%;
  padding: 9px;

  cursor: pointer;
  position: absolute;
  top: 55%;

  z-index: 1;
  opacity: 0.3;
  transition: 0.4s ease-out;

  &:hover {
    opacity: 0.7;
    transition: 0.4s ease-out;
  }

  &-L {
    left: 11%;
  }

  &-R {
    right: 11%;
  }
}

@media (max-width: $xl) {
  .slide {
    &_body {
      justify-content: space-evenly;
      
      &-text {
        margin-top: 170px;

        &_firstMt {
          margin-top: -30px;
        }

        h2 {
          font-size: 160px;
        }

        h4 {
          font-size: 32px;
          margin-right: 7px;
        }
      }

      &-img {
        width: 25%;
        height: 25%;
      }

      &-circle {
        margin-top: 50px;

        svg {
          width: 568px;
          height: 568px;
        }
      }
    }
  }
}

@media (max-width: $lg) {
  .arrow {
    &-L {
      left: 8%;
    }
  
    &-R {
      right: 8%;
    }
  }

  .slide {
    &_body {
      &-text {
        margin-top: 215px;

        &_firstMt {
          margin-top: -85px;;
        }
        h2 {
          font-size: 138px;
        }
        h4 {
          font-size: 28px;
        }
      }

      &-img {
        width: 33%;
      }

      &-circle {
        margin-top: 50px;

        svg {
          width: 568px;
          height: 568px;
        }
      }
    }
  }
}

