@import "../../styles/palette.scss";

header {
  display: flex;
  width: 100%;
  padding: 24px 0;
  position: fixed;
  background: $darkColor;
  z-index: 10;

  .logo {
    padding: 9px;
    background: $darkColor;
    border-radius: 50%;
    width: 76px;
    height: 76px;
    position: absolute;
    left: 11%;
    top: 15px;
    z-index: 1;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;

  a {
    text-transform: uppercase;
    font-size: 24px;
    transition: 0.4s;

    &:hover {
      color: $secondColor;
      transition: 0.4s;
    }
  }
}
