.footer {
    background-image: url("../../assets/catalog_menu/background-2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    height: 150px;
    width: 100%;
    margin-top: -150px;
    display: flex;
    text-align: end;
}