.footer {
    background-image: url("../../assets/catalog_menu/background-2.png");
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    height: 100px;
    width: 100%;
}