@import "../../styles/palette.scss";
.backgroundImg{
    background-image: url("../../../public/assets/works_images/apper_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
   // z-index: -1;
    height: 350px;
    width: 100%;
    padding-top: 30px;

    &-offer{
      max-width: 1480px;
      height: 28px;
      font-family: $primaryFont;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      //background-color: transparent;
      margin: auto;
      justify-content: flex-start;
      padding: 110px 0 0;     
      
    &-text {
      height: 64px;
      width: auto;
      display: block;
      font-family: $primaryFont;
      font-size: 64px;
      font-weight: 800;
      line-height: 1;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      background-color: transparent;
    }

      &_bottom{
        max-width: 1480px;
        display: flex;
        flex-direction: row;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        background-color: transparent;
        margin-top: 25px;
      }

      &_button{
        width: 265px;
        padding: 20px 0;
        margin-top: -20px;
        margin-left: 25px;
        background: $secondColor;
        color: $darkColor;
        text-align: center;
        align-content: center;
      }
    }
}


.offers{
  height: 307px;
  display: grid;
  grid-column-gap: 5px;

  &-top {
    grid-template-columns: 1fr 5fr 1fr;
    margin-bottom: 5px;
  }

  &-bottom {
    grid-template-columns: 2fr 7fr 2fr;
    margin-bottom: 191px;
  }

  &-item  {
    background: no-repeat center center;
    background-size: 120% 100% ;
    overflow: hidden;
    height: 100% ;
    transition: 0.6s ease-in-out;

    &:hover {
      transition: 0.6s ease-in-out;
      background-size: 140%  120%; 
    }
  }
}
//dealing with uneven height of pictures
.offers-bottom .offers-item:nth-child(1){
  background-size: 180%;
}

.offers-bottom .offers-item:nth-child(1):hover{
  background-size: 200%;
}

.offers-item:nth-child(2){
  background-size: 100%;
}

.offers-item:nth-child(2):hover{
  background-size: 110%;
}


@media (max-width: $lg) {
  .offers{
    &-top {
      grid-template-columns: 1fr 4fr 1fr;
    }
  
    &-bottom {
      grid-template-columns: 1fr 3fr 1fr;
    }
  }

  .offers-item{
    background-size: 180% ;
    height: 100% ;
  }

  .offers-item:hover{
    background-size: 190% ;
  }

  .offers-bottom .offers-item:nth-child(1){
    background-size: 245%;
  }

  .offers-bottom .offers-item:nth-child(1):hover{
    background-size: 255%;
  }
}
@media (max-width: $xl) {
  .backgroundImg{
    height: 250px;

    &-offer{
      max-width: 1170px;
      padding: 78px 0 0;
    }
  }
}




//Slider

.slider {
  &-wrapper {
    display: flex;
    flex-direction: column; /////////////
    align-items: center;
    position: absolute;
    z-index: 1;
    padding-top: 30px; ///////////
    top: 0;
    width: 100%;
    background-color: rgba(52, 52, 52, 0.94);
    justify-content: flex-start;
  }

  &-container{
    max-width: 1480px;
    height: 100%;
    top: 50%;
   
  }

  &-content{
    display: flex;
    align-items: center;
    flex-direction: row; /////////////
    padding-top: 350px;  /////////////// becouse background 350px
    height: 619px; 
  }

  &-title{
    padding-top: 116px;
    position: absolute;
    height: 64px;
    width: auto;
    display: block;
    font-family: $primaryFont;
    font-size: 64px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    background-color: transparent;
    
  }

  &-window {
    width: 50%;  
    overflow: hidden;
    margin: auto;
  }

  &-all-slides {
    height: 620px;
    display: flex;
    transition: 1.6s cubic-bezier(0.33, 0.11, 0.5, 1.03);
  }

  &-calculation{
    margin-top: 50px;
    row-gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $primaryFont;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 100.4%;
    letter-spacing: 0.05em;
    text-transform: uppercase;

      &-link{
        font-weight: 900;
      font-size: 24px;
      }
  }

  &-closed{
    display: none;
  }
  
}

.slide {

  box-shadow: inset 0px -150px 50px -75px $darkColor;

      img {
        width: 100%;
        height: 100%;
        background: no-repeat center center;
        background-size: cover;
        overflow: hidden;
        
      }
    }

  



.arrow {
  
  width: 75px;
  height: 75px;
  background: $mainTextColor;
  border-radius: 50%;
  padding: 9px;
  cursor: pointer;
  position: absolute;
  top: 55%;
  opacity: 0.3;
  transition: 0.4s ease-out;

  &:hover {
    opacity: 0.7;
    transition: 0.4s ease-out;
  }

  &-l {
    left: 11%;
    
  z-index: 6;
  }

  &-r {
    right: 11%;
        
  z-index: 6;
  }
}

@media (max-width: $xl) {
    .slider-container{
      top: -100px;
      max-width: 1170px;
    }
    .slider-content{
      padding-top: 250px;
    }
    .slider-title{
      padding-top: 78px;
    }
    .arrow{
    
    }
  }


@media (max-width: $lg) {

  .arrow {
    &-l {
      left: 8%;
    }
  
    &-r {
      right: 8%;
    }
  }

  }

