@import "../../styles/palette.scss";
.backgroundImg{
    background-image: url("../../../public/assets/works_images/apper_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    //position: absolute;
    z-index: -1;
    //margin-top: 60px;
    height: 350px;
    width: 100%;
    padding-top: 30px;

    &-offer{
      max-width: 1480px;
      display: flex;
      flex-direction: column;
      text-align: left;
      //width: auto;
      height: 28px;
      font-family: $primaryFont;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      background-color: transparent;
      margin: auto;
      justify-content: flex-start;
      //margin:20px 0 0 192px ;
      padding: 120px 0 0;
      
      
    &-text {
      height: 64px;
      width: auto;
     // margin: auto;
      display: block;
    //  margin: 112px 0 0 192px;
      font-family: $primaryFont;
      font-size: 64px;
      font-weight: 800;
      line-height: 64px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      background-color: transparent;
    }

      &_bottom{
        max-width: 1480px;
        display: flex;
        flex-direction: row;
        text-align: left;
        height: 28px;
        font-family: $primaryFont;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        background-color: transparent;
        margin-top: 25px;
      }

      &_button{
        width: 265px;
        padding: 20px 0;
        margin-top: -20px;
        margin-left: 25px;
        background: $secondColor;
        color: $darkColor;
        text-align: center;
        align-content: center;
      }
    }
}

.offers{
  height: 307px;
  display: grid;
  grid-column-gap: 5px;

  &-top {
    grid-template-columns: 1fr 5fr 1fr;
    margin-bottom: 5px;
  }

  &-bottom {
    grid-template-columns: 2fr 7fr 2fr;
  }

  &-item  {

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120% ;
    overflow: hidden;
    height: 100% ;
    transition: 0.6s ease-in-out;

    &:hover {
      transition: 0.6s ease-in-out;
      background-size: 140%  ; 
    }
  }
}
//dealing with uneven height of pictures
.offers-bottom .offers-item:nth-child(1){
  background-size: 170%;
}
.offers-bottom .offers-item:nth-child(1):hover{
  background-size: 200%;
}
.offers-item:nth-child(2){
  background-size: 100%;
}
.offers-item:nth-child(2):hover{
  background-size: 110%;
}
