@import "../../../styles/palette.scss";

.services {
  height: 397px;
  display: grid;
  grid-column-gap: 5px;
  margin-bottom: 5px;

  &-top {
    grid-template-columns: 1fr 5fr 1fr;
  }

  &-bottom {
    grid-template-columns: 2fr 7fr 2fr;
  }

  &-item {
    background: no-repeat center center;
    background-size: cover;
    overflow: hidden;
    background-size: 100% 100%;
    transition: 0.6s ease-in-out;

    &_hovered {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      &-title {
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        color: $darkColor;
        background: $secondColor;
        padding: 8px 0;
        width: 100%;

        margin-top: -40px;
        transition: 0.6s ease-in-out;
      }

      &-icon {
        padding: 20.5px 22px;
        border-radius: 50%;
        background: $secondColor;

        margin-bottom: -80px;
        transition: 0.6s ease-in-out;
      }
    }

    &:hover {
      transition: 0.6s ease-in-out;
      background-size: 110% 110%;

      .services-item_hovered-title {
        margin-top: 0;
        transition: 0.6s ease-in-out;
      }

      .services-item_hovered-icon {
        margin-bottom: 15px;
        transition: 0.6s ease-in-out;
      }
    }
  }
}

.servicesLinks {
  display: flex;
  justify-content: space-between;
  margin: 170px 0 130px;

  a {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 2;
    transition: 0.4s;

    &:nth-child(2) {
      text-align: center;
    }

    &:nth-child(3) {
      text-align: right;
    }

    &:hover {
      color: $secondColor;
      transition: 0.4s;
    }
  }
}
